<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Goatan {{ game_id }}</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/game.css" rel="stylesheet">

    <script>
        let game_id = "{{ game_id }}"
    </script>
</head>
<body>
<script src="/static/scripts/bootstrap.bundle.min.js"></script>
<script src="/static/scripts/util.js"></script>

<div id="ui-container" class="d-flex" style="height: 100vh;">
    <div id="canvas-container" class="flex-grow-1"></div>
    <div class="bg-white" style="width: 180px;">
        <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <span class="fs-5 fw-bold">Goatan</span>
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea">
            {% for player in players %}
                <a href="#" class="player-content list-group-item list-group-item-action py-3 lh-sm" aria-current="true"
                   id="player-content-{{ player.id }}">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">{{ player.name }}</strong>
                        <small>Wed</small>
                    </div>
                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.
                    </div>
                </a>
            {% endfor %}
        </div>

        <br>
        <div class="container no-select">
            <div class="row justify-content-md-center">
                <div class="col">
                    <img src="/static/images/assets/wood-icon.png" class="resource-icon float-start">
                    <p class="resource-count" id="wood-count" data-resource="wood">0</p>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col">
                    <img src="/static/images/assets/wheat-icon.png" class="resource-icon float-start">
                    <p class="resource-count" id="wheat-count" data-resource="wheat">0</p>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col">
                    <img src="/static/images/assets/sheep-icon.png" class="resource-icon float-start">
                    <p class="resource-count" id="sheep-count" data-resource="sheep">0</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <img src="/static/images/assets/brick-icon.png" class="resource-icon float-start">
                    <p class="resource-count" id="brick-count" data-resource="brick">0</p>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col">
                    <img src="/static/images/assets/stone-icon.png" class="resource-icon float-start">
                    <p class="resource-count" id="stone-count" data-resource="stone">0</p>
                </div>
            </div>
        </div>

        <br>
        <div class="container">
            <div class="dice-holder row justify-content-md-center">
                <div class="col">
                    <img class="die img-fluid" id="die-1">
                </div>
                <div class="col">
                    <img class="die img-fluid" id="die-2">
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col">
                    <button class="btn btn-primary btn-lg btn-block" id="roll-button" type="button">Roll</button>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col">
                    <button class="btn btn-primary btn-sm btn-block" id="new-trade-button" type="button">New trade</button>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col">
                    <button class="btn btn-danger btn-sm btn-block" id="cancel-trade-button" type="button">Cancel</button>
                    <button class="btn btn-success btn-sm btn-block" id="propose-trade-button" type="button">Propose</button>
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center">
                <button class="btn btn-primary btn-lg btn-block" id="end-turn-button" type="button">End turn</button>
            </div>
        </div>
    </div>
</div>

<script src="/static/scripts/main.js"></script>

</body>
</html>
