<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goatan</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/catan.css" rel="stylesheet">
</head>
<body>

<div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="/static/assets/catan/AppIcon72-resources.assets-529.png">
            <span class="fs-4 ms-2">Goatan</span>
        </a>
    </header>

    <main>
        <h1>Create a new game</h1>
        <p class="fs-5 col-md-8">Create a new game with a sharable link.</p>

        <div class="mb-5">
            <a href="/game/create" class="btn btn-primary btn-lg px-4">Create Game</a>
        </div>

        <hr class="col-3 col-md-2 mb-5">

        <h1>Join a game</h1>
        <p class="fs-5 col-md-8">Enter a game code to join.</p>

    </main>
    <footer class="pt-5 my-5 text-muted border-top">
        goatgoose
    </footer>
</div>

</body>
</html>